.bannerimage
{
  width: 100%;
  background-image: url(https://as1.ftcdn.net/v2/jpg/03/22/62/28/1000_F_322622886_kxH5gnfHVuttfs0htg913FRCIDppY2k9.jpg);
  height: 405px;
  background-color: purple;
  background-position: center;
}


.barstyle
{
  overflow: hidden;
  background-color: pink;
}

.nav-item
{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size

}

.nav-item:hover
{
  background-color: black;
  color: white;
}
.active
{
  background-color: black;
  color: white;
}

.about
{
  text-align: center;
  font-size: large
}
